<h2>Transactions</h2>

<div id="transaction-wrapper">
  <% @transactions.each do |transaction| %>

  <div class="transaction">
    <!-- <h3><a href="/transactions/<%= transaction.id %>"><%= student.format_name %></a></h3> -->
    <p>Date: <%= transaction.date_added %></p>
    <p>Merchant: <%= transaction. %></p>
    <p>Spent: <%= student.house.name.capitalize %></p>
    <p>Tag: <%= student.house.name.capitalize %></p>
  </div>

  <% end %>
</div>
