<!DOCTYPE html>
<html>
<head>
  <title>Frugal Spending App</title>
  <link rel="stylesheet" href="/style.css">
</head>


<body>

  <div id="container">

  <div id="main">



  <nav >
    <div class="logo">
      <img src="/images/pig.png" alt="pig">
    </div>
    <div id="branding">
      <p>Frugal</p>
    </div>
    <ul class="container">
      <li id="menu-item" class=<%="current-menu-item" if active_page?('') %>><a href='/'>Home</a></li>
      <li id="menu-item" class=<%="current-menu-item" if active_page?('budgets') %>><a href='/budgets'>MyDashboard</a></li>
      <li id="menu-item" class=<%="current-menu-item" if active_page?('transactions') %>><a href='/transactions'>Transactions</a></li>
      <li id="menu-item" class=<%="current-menu-item" if active_page?('merchants')%>><a href='/merchants'>Merchants</a></li>
      <li id="menu-item" class=<%="current-menu-item"if active_page?('tags') %>><a href='/tags'>Tags</a></li>
    </ul>
  </nav>

  <section id="content">
      <%= yield %>
  </section>
  </div>
</div>
  <footer>

    <h3>Spend Track Save</h3>


  </footer>

</body>

</html>
