<div class="transactions-page">


<div class="filter-menu">



  <div class="filter">
    <img src="/images/cross.png" alt="cross"><p><a href="/transactions/new">Add Transaction</a></p>
  </div>

  <div class="filter">
    <p>Merchant:<form method="GET" id="merchants_form" action=/transactions/merchants>
    <input type="text" name="search" form="merchants_form" />
    <button type="submit" form="merchants_form">Filter</button></form>
  </div>

  <div class="filter">
    <p>Tag:</p>
    <p><form method="GET" id="tags_form" action=/transactions/tags>
    <input type="text" name="search" form="tags_form" />
    <button type="submit" form="tags_form">Filter</button></form>
  </div>

  <div class="filter">
    <a href='/transactions'>Clear Filter</a>
  </div>

</div>

<!-- <div id="transaction-wrapper"> -->
<table>
  <thead>
  <tr>
    <th>Created</th>
    <th>Merchant</th>
    <th>Cost</th>
    <th>Tag</th>
    <th></th>
  </tr>
  </thead>
  <tbody>


  <% @transactions.each do |transaction| %>
  <tr>
    <td><%= transaction.display_readable_date %></td>
    <td><%= transaction.merchant.name.capitalize %></td>
    <td><%= transaction.display_currency %></td>
    <td><%= transaction.tag.name.capitalize %></td>
    <td><a id="view" href="/transactions/<%= transaction.id %>">View</a></td>
  </tr>
  <% end %>


  <tr>
    <td></td>
    <td id="tfoot">Total</td>
    <td id="tfoot"><%= "£%.2f" % @total_trans%></td>
    <td></td>
    <td></td>
  </tr>
</table>
</div>
<!-- </div> -->
