<h2>Transactions</h2>

<div id="transaction-wrapper">
  <table>
    <tr>
      <th>Created</th>
      <th>Merchant</th>
      <th>Spent</th>
      <th>Tag</th>
      <th></th>
    </tr>

  <% @transactions.each do |transaction| %>
    <tr>
      <td><%= transaction.date_added %></td>
      <td><%= transaction.merchant.name.capitalize %></td>
      <td><%= transaction.price %></td>
      <td><%= transaction.tag.name.capitalize %></td>
      <td><a href="/transactions/<%= transaction.id %>">View</a></td>
    </tr>
    <% end %>
  </table>

</div>
