<h2>New Transaction</h2>
<form method="POST" action="/transactions">
  <div class="form-wrapper">
    <div class="form-new-transaction">
      <label for="price">Price:</label>
      <input type="number" name="price" step = "0.01" id="price" pattern="^\d*(\.\d{0,2})?$"/>
    </div>

    <div class="form-new-transaction">
      <label for="merchant">Select Merchant:</label>
      <select name="merchant_id" id="merchant_select">
        <% @merchants.each do |merchant| %>
            <option value=<%= merchant.id %>><%= merchant.name.capitalize %></option>
        <% end %>
      </select>
    </div>

    <div class="form-new-transaction">
      <label for="tag_select">Select Tag:</label>
      <select name="tag_id" id="tag_select">
        <% @tags.each do |tag| %>
            <option value=<%= tag.id %>><%= tag.name.capitalize %></option>
        <% end %>
      </select>
    </div>

    <div class="form-new-transaction">
      <label for="budget_select">Select Budget:</label>
      <select name="budget_id" id="budget_select">
        <% @budgets.each do |budget| %>
            <option value=<%= budget.id %>><%= budget.name.capitalize %></option>
        <% end %>
      </select>
    </div>

    <div class="form-new-transaction">
      <input type="submit" value="Create Transaction"/>
    </div>

  </div>
</form>

<form action="/merchants/new" method="GET">
  <input type="submit" value="New Merchant"/>
</form>

<form action="/tags/new/" method="GET">
  <input type="submit" value="New Tag"/>
</form>
