<p> Transaction Details </p>
<div class="">
  <table>
    <tr>
      <th>Created</th>
      <th>Merchant</th>
      <th>Spent</th>
      <th>Tag</th>
      <th></th>
    </tr>
    <tr>
      <td><%= @transaction.date_added%></td>
      <td><%= @transaction.merchant.name.capitalize %></td>
      <td><%= @transaction.display_currency %></td>
      <td><%= @transaction.tag.name.capitalize %></td>
      <td><a href="/transactions/<%= @transaction.id %>/edit">Edit</a></td>
    </tr>
  </table>
</div>
