<h1> Transaction Details </h1>
<div class="">
  <table>
    <thead>
    <tr>
      <th>Created</th>
      <th>Merchant</th>
      <th>Cost</th>
      <th>Tag</th>
      <th></th>
    </tr>
    </thead>
    <tr>
      <td><%= @transaction.date_added%></td>
      <td><%= @transaction.merchant.name.capitalize %></td>
      <td><%= @transaction.display_currency %></td>
      <td><%= @transaction.tag.name.capitalize %></td>
      <td><a href="/transactions/<%= @transaction.id %>/edit">Edit</a></td>
    </tr>
  </table>
</div>
