<h2>Budgets</h2>
<div class="budget-all">

  <div id="budget-wrapper">
    <p><%= @budget.name %></p>
    <p><%= @budget.display_readable_date_start %> - <%= @budget.display_readable_date_end %></p>
    <p>Budget Start <%= @budget.display_currency %></p>
    <p>Budget Remaining <%= @budget.budget_remaining %></p>
  </div>

  <div class="budget-info">
    <p><a href="/budgets/<%= @budget.id %>">Budget Settings</a></p>
  </div>

  <div class="budget-all-transac">
    <p><a href="/transactions">Budget Breakdown</a></p>
  </div>

  <div class="budget-new-transac">
    <p><a href="/transactions/new">Add Transaction</a></p>
  </div>

</div>
