
<div class="budget-all">

  <div id="budget-wrapper">
    <p><%= @budget.name %></p>
    <p><%= @budget.display_readable_date_start %> - <%= @budget.display_readable_date_end %></p>
    <p>Budget Start <%= @budget.display_currency %></p>
    <p>Budget Remaining <%= @budget.budget_remaining %></p>
  </div>

  <div class="budget-info">
    <div class="settings-logo">
      <img src="/images/settings.png" alt="settings">
    </div>
    <div class="show-budget">
      <p><a href="/budgets/<%= @budget.id %>">Budget Settings</a></p>
    </div>

  </div>


</div>
