
<div class="budget-all">

  <div id="budget-wrapper">
    <h1><%= @budget.name %></h1>
    <p id="dates"><%= @budget.display_readable_date_start %> - <%= @budget.display_readable_date_end %></p>
    <h4>Start <%= @budget.display_currency %></h4>
    <h4>Remaining <%= @budget.budget_remaining %></h4>
  </div>

<progress value=<%=@budget.budget_remaining_rounded%> max=<%=@budget.amount.round%>></progress>

  <div class="budget-info">
    <div class="settings-logo">
      <img src="/images/settings.png" alt="settings">
    </div>
    <div class="show-budget">
      <p><a href="/budgets/<%= @budget.id %>">Budget Settings</a></p>
    </div>

  </div>



</div>
