
<div class="dashboard">


<div class="budget-all">

  <div id="budget-wrapper">
    <h1><%= @budget.name %></h1>
    <p id="dates"><%= @budget.display_readable_date_start %> - <%= @budget.display_readable_date_end %></p>
    <h4 id="start">Budget <%= @budget.display_currency %></h4>


    <h4 id="remaining">Balance <%= @budget.budget_remaining %></h4>
  </div>

  <style>
    progress[value]::-webkit-progress-value {
      background-color: <%=@budget.budget_progress_bar_color_logic%>;
    }
  </style>
<progress value=<%=@budget.budget_remaining_rounded%> max=<%=@budget.amount.round%>></progress>

  <h4 id="days"><%=@budget.days_left%> days remaining</h4>





</div>
  <h4 id="label_graph">% Spend By Tag</h4>
<div class="chart">
  <div class="graph">
    <div style="height: 100px;" class="bar">1</div><!--
    --><div style="height: 100px;" class="bar">2</div><!--
    --><div style="height: 100px;" class="bar">3</div><!--
    --><div style="height: 100px;" class="bar">4</div><!--
    --><div style="height: 100px;" class="bar">5</div>
  </div>


  <div class="stats">
    <h5>Key</h5>
    <p>1. Tag Goes Heres</p>
    <p>2. Tag Goes Heres</p>
    <p>3. Tag Goes Heres</p>
    <p>4. Tag Goes Heres</p>
    <p>5. Tag Goes Heres</p>
  </div>
</div>

<div class="budget-info">
  <div class="settings-logo">
    <img src="/images/settings.png" alt="settings">
  </div>
  <div class="show-budget">
    <p><a href="/budgets/<%= @budget.id %>">Budget Settings</a></p>
  </div>

</div>
</div>
