<h1 id="show"> Budget Settings </h1>

<div id="budget-wrapper">
  <table>
    <thead>
    <tr>
      <th>Name</th>
      <th>Start Date</th>
      <th>End Date</th>
      <th>Amount</th>
    </tr>
    </thead>
    <tr>
      <td><%= @budget.name %></td>
      <td><%= @budget.display_readable_date_start%></td>
      <td><%= @budget.display_readable_date_end %></td>
      <td><%= @budget.display_currency %></td>
    </tr>
  </table>

</div>

<form action="/budgets/<%= @budget.id %>/delete" method="post">
  <input class= "buttons" type="submit" value="Delete"/>
</form>
